body,html{
    margin: 0;
    height: 97%;
    width: 100%;
    background-color: grey;
    font-size: 1.5rem;
}

input{
    height: 1.5rem;
    font-size: 1rem;
}

p{
    cursor: pointer;
}

.main-container{
display: flex;
flex-direction: column;
margin: 30px;
background-color: blue;

}

.header{
    font-size: 2rem;
    text-align: center;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.left{
    background-color: brown;
    flex: 1;
    margin: 10px;
}

.form{
    border: 5px solid;
    padding: 10px;
    margin: 5px;
    height: 200px;
}

.logs{
    border: 5px solid;
    padding: 10px;
    margin: 5px;
    height: 500px
}


.right{
    background-color: green;
    flex: 2;
    margin: 10px;
    
}